.item{
    color: black;
    display: flex;
    align-items: center;
    border-bottom: 1px #e3e3e3 solid;
    width: 250px;
    padding-bottom: 5px;
}

.item img{
    width: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin: 5px 10px;
}

.likes{
    width: 250px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn{
    background-color: #edf0f5;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: .2s;
}

.btn:hover{
    background-color: #dae3f3;
}

.btn:focus{
    outline: none;
    background-color: red;
}




